<div class=" mb-4 mt-4 d-flex justify-content-around align-content-center">
  <div class="head-title" *ngIf="showUsername">
    {{ "HI" | translate }}
    <span class="text-blue-shade0 pl-1">{{authService?.currentUser?.name | titlecase}}</span>
  </div>
</div>
<div class="text-center container flex-center">
  <div class="row">
    <div class="col-12" [ngClass]="{ 'card mb-3 linear-bg': showBackground }">
      <div class="row g-0 px-3">
        <div class="col-4 col-md-3 px-0 pr-2">
          <img src="assets/images/header-round.svg" alt="header-logo">
        </div>
        <div class="col-8 col-md-9 text-left px-0">
          <h5 class="card-title fs-14 font-600 br-l ml-2 pl-3">
            <div class="text-gray-0 fs-14">DEPARTMENT OF</div>
            <div class="fs-22 heading3 fs-sm-17">Basic Education</div>

            <div class="text-orange fs-12 fs-sm-8">GOVERNMENT OF UTTAR PRADESH</div>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5 pb-10">
  <h4 class="text-primary-color font-600 fs-20 text-center">Universal Learners Passport</h4>
  <p class="subtitle fs-16 text-center Dn-sans">{{'WELCOME_TO_YOUR_ACADEMIC_WALLET' | translate}}</p>
</div>