<div class=" mb-4 mt-4 d-flex justify-content-between align-content-center">
  <div class="head-title pl-2" *ngIf="showUsername">
    {{ "HI" | translate }}
    <span class="text-blue-shade0 pl-1">{{authService?.currentUser?.name | titlecase}}</span>
  </div>
  <div class="claim-status">
    <button class="border rounded border-danger text-danger" *ngIf="status ==='rejected'">{{'APPROVAL_REJECTED' | translate}}</button>
    <button class="border rounded border-success text-success" *ngIf="status ==='approved'">{{'APPROVED' | translate}}</button>
    <button class="border rounded border-secondary text-secondary" *ngIf="status ==='pending'">{{'APPROVAL_PENDING' | translate}}</button>
  </div>
</div>
<div class="text-center container flex-center">
  <div class="row">
    <div class="col-12" [ngClass]="{ 'card mb-3 linear-bg': showBackground }">
      <div class="row g-0 px-3">
          <img src="assets/images/logo.png" alt="header-logo">
      </div>
    </div>
  </div>
</div>
<div class="mt-5 pb-10">
  <h4 class="text-primary-color font-600 fs-20 text-center">{{title}}</h4>
  <p class="subtitle fs-16 text-center Dn-sans">{{'WELCOME_DESCRIPTION' | translate}}</p>
</div>