<div class="container">
<div class="fs-18 font-600 text-underline">Raise Grievance for Credentials</div>
<div class="fs-14 text-black-grey py-2 text-center ">Select from below either to raise requests for correction or raise claim for a credential from your school!</div>
<div class="bg-grey-shade1 my-2">
    <div class="d-flex p-2 justify-content-center align-items-center">
        <img src="assets/images/raise-claim.png" alt="">
        <div class="font-600 fs-16 text-grey-shade3 text-underline">Raise Claims</div>
    </div>
</div>
<div class="grey-bg p-3  my-3 text-center">
    <div class="fs-16">I here by confirm that, I am a student of “ Grade 4th “ in “ Vidyapeeth Public School” .</div>
</div>
<div class="d-flex justify-content-center align-items-center my-5">
    <button type="button" class="blue-outline text-danger mr-2"><i class="fa fa-close pr-2"></i>Cancel</button>
    <button type="button" class="blue-outline text-success"><i class="fa fa-check pr-2"></i>Confirm</button>
</div>
<div class="grey-bg p-3  my-3 text-center">
    <div class="fs-16">“ Your request for an Enrollment Credentials has been forwarded to the Principal. “</div>
</div>
<div class="text-center my-5">
    <button type="button" class="blue-outline text-success">Ok</button>
</div>
</div>