<div class="container text-center pb-0 mt-20 wallet">
   <!-- <app-global-header [showTitle]="true"></app-global-header> -->
   <img class="img-fluid mb-4 mt-4" src="../../assets/images/headerlogo1.png" alt="header-logo">
   <div>
      <img class="img-fluid" src="../../assets/images/passport.png" alt="password">
   </div>
   <div class="heading2 fs-20 pb-10 mt-4">ULP Learner Wallet</div>
   <div class="pb-20">{{ "WELCOME_TO_YOUR_ACADEMIC_WALLET" | translate }}</div>
   <div class="pb-10">
      <button type="button" class="login-btn bg-blue-dark w-100 text-uppercase"
         (click)="login();raiseInteractEvent('login-sso')">{{'LOGIN' | translate}}</button>
   </div>
</div>