<div class="container text-center pb-0 flex-center wallet">
  <app-global-header [showTitle]="true"></app-global-header>
</div>
<div class="container mb-5 mt-2">
  <div>
    <div class="flex-center">
      <div>
          <div class="flex-center">
            <div class="w-95">
              <img class="img-fluid br-img max-w400" src="assets/images/passport.svg" width="100%" alt="password">
            </div>
          </div>
          <div class="pb-10 mt-5">
            <button type="button" class="btn btn-primary btn-block btn-lg fs-14 mb-3 urbanist font-600"
              (click)="register();raiseInteractEvent('register')">{{'REGISTER' | translate}}</button>
            <button type="button" class="btn btn-outline-primary btn-block fs-14 btn-lg mt-2 urbanist font-600"
              (click)="login();raiseInteractEvent('login')">{{'LOGIN_VIA_MERI_PEHCHAAN' | translate}}</button>
          </div>
        </div>

    </div>
  </div>
</div>