<div class="toolbar">
  <div (click)="raiseInteractEvent('home-tab');clearCredentials();" class="tab tab_hover" [routerLink]="['/home']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <i class="fa fa-home fs-18"></i>
    <div class="tab-label"> {{'HOME' | translate}}</div>
  </div>
  <!-- <div (click)="raiseInteractEvent('search-tab')" class="tab" [routerLink]="['/search-certificates']"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <i class="fa fa-search fs-18"></i>
    <div class="tab-label"> {{'SEARCH' | translate}}</div>
  </div> -->
  <div (click)="raiseInteractEvent('scan-code-tab');clearCredentials();" class="tab" [routerLink]="['/opportunitie']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <img src="assets/images/bag.svg" alt="bag">
    <div class="tab-label"> {{'OPPORTUNITIES' | translate}}</div>
  </div>
  <div (click)="raiseInteractEvent('account-tab');clearCredentials()" class="tab" [routerLink]="['/settings']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">
    <i class="fa fa-user-circle-o fs-18"></i>
    <div class="tab-label"> {{'ACCOUNT' | translate}}</div>
  </div>
</div>