.toolbar {
  cursor: pointer;
}

.tab.active {
  color: #060461 !important;
  border-radius: 10%;
  padding:5px 20px;
  background-color: #EAECED;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  min-width: 50px;
  padding:5px 16px;
}
.tab-label {
  margin-top: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
