<div class="container">
    <div class="fs-20 font-600 text-underline text-grey-shade1 text-center">Request Corrections in Issued Credentials</div>
    <div class="my-3 fs-16 text-grey-shade2">“ Please add the correction Data below. This will be forwarded to the Principal for corrections. “</div>
    <div class="my-3 blue-bx">
        <div class="d-flex px-2 py-2">
            <div class="fs-15 text-grey-shade3">Name: &nbsp; </div>
            <div class="fs-15 font-500">Vikas Kanujiya</div>
        </div>
        <div class="d-flex px-2 py-2">
            <div class="fs-15 text-grey-shade3">Subject: &nbsp; </div>
            <div class="fs-15 font-500">Correction of  “ Class 2 Marksheet ”</div>
        </div>
    </div>
    <textarea></textarea>
    <div class="d-flex justify-content-center align-items-center my-3">
        <button type="button" class="blue-outline text-danger mr-2"><i class="fa fa-close pr-2"></i>Cancel</button>
        <button type="button" class="blue-outline text-success"><i class="fa fa-check pr-2"></i>Confirm</button>
    </div>
</div>