<div class="pb-200">
    <div class=" mt-4">
        <div class="px-4">
            <span routerLink="" class="mt-1 float-left">
                <i class="fas fa-arrow-left mr-2" aria-hidden="true"></i>
            </span>
        </div>
        <div class="fs-18 fw-600 text-center Dn-sans"> Opportunties &nbsp; <img src="assets/icons/opportunities.svg"
                alt="camera"></div>
    </div>
    <div *ngFor="let item of opportunities">
        <div class="flex-center mt-4 mx-3 border">
            <div class="border-box1">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-700 fs-14 text-dec Dn-sans">{{item.label}}</div>
                    <div>
                        <img [src]="item.img" alt="sarthi">
                    </div>
                </div>
                <div class="fs-12 line-18 pt-2 pb-2 br-botm min-ht">{{item.description}}</div>
                <div class="d-flex justify-content-between pt-2">
                    <a data-toggle="modal" data-target="#exampleModal" class="fs-12 fw-700 text-dec colr-ic Dn-sans" target="_blank"
                        [href]="item.eligibilityLink">{{'ELIGIBILITY_CRITERIA' | translate}}</a>
                    <div class="d-flex justify-content-between align-items-center Dn-sans">
                        <a class="fs-12 fw-700 text-dec colr-ic" target="_blank" [href]="item.applyLink">{{'APPLY_NOW' |
                            translate}}</a>
                        <img class="ps-2" src="assets/images/arrow-right-circle.svg" alt="camera">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="d-flex pt-3 align-content-center">
                        <h5 class="modal-title text-black fs-18 fw-500 text-center w-100 text-dec"
                            id="exampleModalLabel">{{'ELIGIBILITY' | translate}}</h5>
                        <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li class="fs-16 text-g" *ngFor="let criteria of item.eligibilityCriteria">{{criteria}}</li>
                        </ul>
                        <div class="pb-10 text-center d-flex justify-content-center">
                            <button type="submit"
                              class="login-btn bg-blue-dark font-600 urbanist w-60 fs-14 mt-4">{{'VIEW_DETAILS' | translate}}</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>