.border-box1{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1 4 0 #0000 25%;
    width: 90%;
    padding: 10px 10px;
}
.text-blu{
    color:#5526F5;
}
.br-botm{
    border-bottom: 1px solid #EEEEEE;
}
.text-dec{
    text-decoration: underline !important;
}
.line-18{
    line-height: 18px;
}