<div class="bg-white position-relative">
    <div class="flex-center">
        <img class="img-fluid" src="assets/images/bg-blue.svg" alt="bg-blue">
    </div>
    <div class="flex-center">
        <div class="circle">
            <i class="fa fa-check-circle-o text-green" aria-hidden="true"></i>
        </div>
    </div>
    <div class="flex-center">
        <div class="circle">
            <i class="fa fa-check-circle-o text-green" aria-hidden="true"></i>
        </div>
    </div>

    <!-- for fail code is commented  -->

    <!-- <div class="flex-center">
        <div class="circle">
            <i class="fa fa-times-circle-o text-red1" aria-hidden="true"></i>
        </div>
       </div> -->

    <div class="container">
        <div class="font-600 fs-22 text-center mt-5 pt-3">
            {{'CONGRATULATIONS' | translate}}
        </div>

        <!-- <div class="font-600 fs-22 text-center mt-5 pt-3">
             {{'FAILED' | translate}}
           </div> -->

        <div class="fs-14 text-center text-light-black pt-2">
             {{'KYC_SUCCESSFULLY' | translate}}
        </div>

        <!-- <div class="fs-14 text-center text-light-black pt-2">
             {{'AADHAR_KYC' | translate}}
           </div> -->

        <div class="mt-5 flex-center">
            <button type="submit" class="login-btn bg-blue-dark font-600 urbanist w-60 fs-14 mt-4">{{'GO_TO_WALLET' | translate}}</button>
        </div>
       
        <!-- <div class="mt-5 flex-center">
            <button type="submit" class="login-btn bg-blue-dark font-600 urbanist w-60 fs-14 mt-4"> {{'TRY_AGAIN' | translate}} &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div> -->
    </div>
</div>