<div class="container text-center pb-0 mt-3 wallet">
  <app-global-header
    [showBackground]="true"
    [showTitle]="true"
    [showUsername]="true"
  ></app-global-header>
</div>
<app-search-certificates
  *ngIf="showCredentialList"
  [credentials]="allCredentials"
  [category]="selectedCategory"
  (back)="onBack()"
></app-search-certificates>

<!-- GET Approval POPUP -->
<!-- <ng-template #approvalModal tabindex="-1" role="dialog" aria-labelledby="approvalModal">
    <div class="modal-content">
        <div class="modal-body fs-14 text-center">
            <h5 class="modal-title text-primary-color pb-4 pt-3">{{'REGISTRATION_APPROVAL' | translate}}
                <br>{{'PENDING' | translate}} !
            </h5>
            <div>
                {{'CONTACT_YOUR_SCHOOL_APPROVAL' | translate}}<br><br>
            </div>
        </div>
    </div>
</ng-template> -->
