<div class="container text-center pb-0 mt-3 wallet">
  <app-global-header [showBackground]="true" [showTitle]="true" [showUsername]="true"></app-global-header>
</div>

<div class="pb-200">
  <div class="container mt-2">
    <h4 class="text-center text-underline" *ngIf="credentialList.length">
      {{credentialList[0]?.credential_schema?.schema?.name}}</h4>
    <!-- <div class="row">
      <div class="col-12 font-600">
        <i class="fa fa-arrow-left pr-4" (click)="goBack()"></i>
        <span *ngIf="category?.length">{{category}}</span>
        <span *ngIf="!category">{{ "ISSUED_DOCUMENTS" | translate }}</span>
      </div>
    </div> -->
    <div class="tab-content mt-20" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <!-- <div class="row">
          <div class="col search-area mb-3">
            <div class="input-append">
              <input class="w-100" type="text" [(ngModel)]="searchKey" placeholder="{{ 'SEARCH_DOCUMENTS' | translate }}"
                aria-label="Search" />
              <i class="fas fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div> -->
        <div class="row justify-content-center">
          <ng-container *ngIf="credentialList.length">
            <ng-container *ngIf="(credentialList | filterCertificate:searchKey) as filteredList; else: noItems">
              <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xs-2" *ngFor="let item of filteredList">
                <div class="card cursor-pointer" (click)="renderCertificate(item)" >
                  <div class="card-body">
                    <div class="card-image">
                      <img [src]="item?.logoUrl ? item.logoUrl : 'assets/images/logo.svg'" />
                    </div>
                    <div class="card-intro-info">
                      <div class="mb-2 fs-14"
                        *ngIf="item?.credential_schema?.schema?.name === 'Assessment Credentials'">
                        {{ item?.credentialSubject?.assessment || item?.credential_schema?.schema?.name | titlecase}}
                      </div>
                      <div class="mb-2 fs-14"
                        *ngIf="item?.credential_schema?.schema?.name === 'Enrollment Credentials'">
                        {{ item?.credentialSubject?.school_name || item?.credential_schema?.schema?.name | titlecase}}
                      </div>
                      <div class="mb-2 fs-14" *ngIf="item?.credential_schema?.schema?.name === 'Benefits Credentials'">
                        {{ item?.credentialSubject?.schemeName || item?.credential_schema?.schema?.name | titlecase }}
                      </div>
                      <div class="text-grey fs-12">
                        {{ item | replacePlaceholder }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!filteredList.length" class="d-flex justify-content-center">{{'NO_RECORDS_FOUND' | translate}}
              </div>
            </ng-container>
          </ng-container>
          <ng-container class="text-center" *ngIf="isLoading">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                <span class="sr-only">{{ "LOADING" | translate }}</span>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-template #noItems>
          <p class="text-center">{{'NO_RECORDS_FOUND' | translate}}</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>