<div class="pb-100">
    <div class="container pb-0 mt-20">
        <app-global-header [showTitle]="false"></app-global-header>
    </div>
    <div class="container">
        <div class="fs-16 fw-400 text-center text-black-grey">
            Welcome to your wallet. Please complete your Aadhar KYC to start receiving your academic credentials. (This
            is a
            one-time process.)
        </div>
        <div class="pt-3 flex-center">
            <div class="flex-center w-400">
                <div class="w-90">
                    <div class="label-float w-100">
                        <input type="text" placeholder=" " />
                        <label>Enter Aadhaar no.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-center">
            <button type="button" class="login-btn mt-4 fs-14 fw-600">Get OTP</button>
        </div>
        <div class="pt-3 flex-center">
            <div class="flex-center w-400">
                <div class="w-90">
                    <div class="label-float w-100">
                        <input type="text" placeholder=" " />
                        <label>Enter OTP</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-center">
            <button type="button" class="login-btn disable-btn mt-4 fs-14 fw-600">Submit</button>
        </div>
    </div>
</div>