dl{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 1px #2F2F2F;
    border-radius: 10px;
    text-align: left;
}

dt{
    font-size: 12px;
    color: #8A8686;
    font-weight: 300;
    padding-top: 10px;
}
dd{
    font-size: 15px;
    border-bottom: solid 1px #2F2F2F;
    padding-bottom: 10px;
    font-weight: 500;

}
dd:last-child{
    border-bottom: none;
}
.text-center{
    text-align: center;
}
.text-inherit{
    text-transform: inherit !important;
}
.fs-20{
    font-size: 20px;
}