<div class="container pb-0 mt-20">
        <div>
            <div  class="head-title text-center"> Hi
                 <span class="text-blue-shade0 pl-1">Ekta Yadav</span>
            </div>
            <dl class="row mt-3 mx-2">
                <dt class="col-sm-12">School</dt>
                <dd class="col-sm-12">DPS Public School</dd>
              
                <dt class="col-sm-12">Aadhaar Number</dt>
                <dd class="col-sm-12">
                 *******3421
                </dd>
              
                <dt class="col-sm-12">Phone Number</dt>
                <dd class="col-sm-12">8087660652</dd>
              
                <dt class="col-sm-12 text-truncate">Date of Birth</dt>
                <dd class="col-sm-12">29/12/1995</dd>
              
                <dt class="col-sm-12">Gender</dt>
                <dd class="col-sm-12">
                  Female
                </dd>
              </dl>
        </div>   
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-md my-3 px-5 fs-12 text-inherit">Raise a claim</button>
            <div><i class="fa fa-sign-out pr-2 fs-20"></i>Logout</div>
        </div> 
        
</div>