<div class="container pb-0 mt-20">
  <app-global-header [showTitle]="true"></app-global-header>
  <div>
    <div class="h3 mb-3 text-center">{{'REGISTER' | translate}}</div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 pb-10">
        <label for="name">{{'NAME' | translate}}<span class="text-danger">*</span></label>
        <input type="text" class="form-control p-4" id="name" name="name" formControlName="name"
          placeholder="{{'ENTER_YOUR_NAME' | translate}}">
        <p class="text-red pt-2 mb-0" *ngIf="registerFormControl.name.invalid && registerFormControl.name.touched">
          {{'NAME_REQUIRED' | translate }}</p>
      </div>

      <div class="mb-3 pb-10">
        <label for="dob">{{'DOB' | translate}}<span class="text-danger">*</span></label>
        <input type="date" class="form-control p-4" id="dob" name="dob" formControlName="dob"
          placeholder="Enter Date of Birth">
        <p class="text-red pt-2 mb-0" *ngIf="registerFormControl.dob.invalid && registerFormControl.dob.touched">
          {{'ENTER_VALID_DOB' | translate }}</p>
      </div>

      <div class="mb-3 pb-10">
        <label for="gender">{{'GENDER' | translate}}<span class="text-danger">*</span></label>
        <select class="w-20 form-select" formControlName="gender">
          <option value="" disabled selected>{{'SELECT_GENDER' | translate}}</option>
          <option value="M">{{'MALE' | translate}}</option>
          <option value="F">{{'FEMALE' | translate}}</option>
        </select>
      </div>

      <div class="mb-3 pb-10">
        <label for="aadharId">{{'AADHAR_NO' | translate}}<span class="text-danger">*</span></label>
        <input type="text" class="form-control p-4" id="aadharId" name="aadharId" formControlName="aadharId"
          placeholder="{{'ENTER_AADHAAR_NO' | translate}}">
        <p class="text-red pt-2 mb-0"
          *ngIf="registerFormControl.aadharId.invalid && registerFormControl.aadharId.touched">{{'ENTER_STUDENT_ID' |
          translate }}</p>
      </div>

      <div class="mb-3 pb-10">
        <label for="username">{{'USERNAME' | translate}}<span class="text-danger">*</span></label>
        <input type="text" class="form-control p-4" id="username" name="username" formControlName="username"
          placeholder="{{'ENTER_YOUR_USERNAME' | translate}}">
        <p class="text-red pt-2 mb-0"
          *ngIf="registerFormControl.username.invalid && registerFormControl.username.touched">{{'ENTER_STUDENT_ID' |
          translate }}</p>
      </div>

      <div class="mb-3 pb-10">
        <label for="password">{{'PASSWORD'| translate}}<span class="text-danger">*</span></label>
        <input type="password" class="form-control p-4" id="password" name="password" formControlName="password"
          placeholder="{{'ENTER_PASSWORD' | translate}}">
        <p class="text-red pt-2 mb-0"
          *ngIf="registerFormControl.password.invalid && registerFormControl.password.touched">{{'ENTER_STUDENT_ID' |
          translate }}</p>
      </div>


      <div class="pb-10 text-center">
        <button type="submit" class="login-btn bg-blue-dark font-600 mt-4"
          [disabled]="registerForm.invalid">{{'REGISTER' | translate}}</button>
      </div>
    </form>
  </div>
</div>

<div class="text-center" *ngIf="isLoading">
  <div class="center-loading">
    <div class="spinner-border">
    </div>
  </div>
</div>