.bo-rd-10{
    border-radius: 10px !important;
}

.label{
    background: transparent;
    padding: 0 4px;
    margin-left: 15px;
}
.label-float{
    position: relative;
    padding-top: 13px;
}

.label-float input{
    height: 46px !important;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #d2d2d2 !important;
    border-radius: 5px;
    font-size: 14px;
    transition: all .1s linear;
}
.label-float select{
    height: 46px !important;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #d2d2d2 !important;
    border-radius: 5px;
    font-size: 14px;
    transition: all .1s linear;
}
input[type=text]:focus{
    outline: 2px solid #d2d2d2 !important;
}
input[type=password]:focus{
    outline: 2px solid #d2d2d2 !important;
}
.label-float input::placeholder{
    color:transparent;
}
.label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    color: #4A454E;
}
.max-400{
    max-width: 400px;
}
.w-400{
    width: 400px;
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 12px;
    top: 0;
    color: #4A454E;
}
.gender{
    margin-top: -21px;
    font-size: 12px;
}
input#name.form-control.p-4.ng-dirty.ng-valid.ng-touched {
    background-color: #fff !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #d2d2d2;
  -webkit-text-fill-color: #4A454E;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}